<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Coronavirus in South Korea</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>

<body>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Covid-19 Cases in South Korea Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>

        <!-- <div id = "tester" data-scatter_data='{{ scatter_data|tojson }}'>testing</div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h5>Province:</h5>
          <select id="selDataset">
            <option style = "padding: 5px;">Choose Province Name</option>
          </select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Demographic Info</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
            <p id = "subject_id" style="padding-left: 10px;"></p>

        </div>
      </div>
      <div class="col-md-12">
        <div id="temp_scatter"></div>
      </div>
      <div class="col-md-12">
        <div id="case_heatmap"></div>
      </div>  
      <div class="col-md-12">
        <div id="province_bar"></div>
      </div>
      <div class="col-md-12">
        <div id="age_pie"></div>
      </div>
      <div class="col-md-12">
        <div id="survival_pie"></div>
      </div>
    </div>
  </div>
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
  function myFunc(data) {
    return data
}
    var barchar_data  = myFunc({{barchar_data|tojson}})
    var heatmap_data = myFunc({{heatmap_data|tojson}})
    var scatter_data = myFunc({{scatter_data|tojson}})
    var pie_data = myFunc({{pie_data|tojson}})
</script>
  <!-- API Key -->
  <script type="text/javascript" src="static/js/config.js"></script>
<script type = "text/javascript" src="static/js/logic.js"></script>
</body>

</html>
