<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Coronavirus in South Korea</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/main.css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Covid-19 Cases in South Korea Dashboard</h1>
        <p>Select the province to zoom into that area of the heatmap.</p>
        <p>Below are more visualizations to explore the affect Coronavirus has had on South Korea.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h5>Province:</h5>
          <select id="selDataset">
            <option style = "padding: 5px;">Choose Province Name</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row map_row text-center">
    <div class = "col-md-10" id="mapid"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="temp_scatter"></div>
      </div>  
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="province_bar"></div>
      </div>
    </div>
    <div class="row" id="pie_row">
        <div class="col-md-4">
          <div id="age_pie"></div>
        </div>
        <div class="col-md-4">
          <div id="survival_pie"></div>
        </div>
      </div>
  </div>
  <footer>
    <h3>Text here</h3>
  </footer>


  <!-- D3 Javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <!-- plotly Javascript -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Function to modify our data-->
  <script type="text/javascript">
    function myFunc(data) {
      return data
    }
    var barchar_data  = myFunc({{barchar_data|tojson}})
    var heatmap_data = myFunc({{heatmap_data|tojson}})
    var scatter_data = myFunc({{scatter_data|tojson}})
    var pie_data = myFunc({{pie_data|tojson}})
  </script>
  <!-- API Key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  <!-- our Javascript -->
  <script type = "text/javascript" src="static/js/logic.js"></script>
</body>

</html>
